body {
    font-size: small;
    font-family: Arial, sans-serif;
}

cite {
    color: #093;
    font-style: normal
}

a {
    color: #36c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logging {
    color: #676767;
}

#front {
    text-align: center;
}

#front h1 {
    margin: 2em 0 1em;
    padding: 0;
}

#front .gsc-control-searchbox-only {
    margin: 2em auto;
    width: 600px;
    
}

#front h2 {
    margin: 2em 0 1em;
}

#front .gsc-search-box {
    padding-left: 28px;
}

#front ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


#header {
    height: 50px;
}

#content {
    margin-top: 1.5em;
}

#logo, 
#lhs {
    width: 200px;
    position: absolute;
}

#query,
#results {
    margin-left: 220px;
}


body {
    margin: 1.5em;
}

#modes {
    list-style: none;
    line-height: 2em;
    margin: 0 0 0 10px;
    padding: 0;
}

#modes a.selected {
    color: #dd4b39;
    font-weight: bold;
}

#modes a {
    cursor: pointer;
    color: #444;
}

#results ol {
    list-style: none;
    padding: 0;
    margin: 0 0 0 8px;
}

#search-form {
    height: 100%;
}

#query input {
    vertical-align: top;
}

#query-text {
    font-size: 16px;
    padding: 4px 6px;
    width: 550px;
}

#query-button {
    background-color: #980000;
    border: 1px solid #666;
    border-radius: 2px;
    padding: 6px 27px;
    margin-top: 3px;
    margin-left: 1em;
}


#logo {
    text-decoration: none;
}

#results {
    width: 550px;
}

#results li {
    line-height: 1.24;
}

#results li p {
    color: #222;
    margin: 0;
}

#results li h3 {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}

#results li {
    margin-bottom: 25px;
}
